.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.3s;
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
}

.swap-enter-active,
.swap-leave-active {
  transition: all 500ms;
}

.swap-leave-to

/* .list-leave-active below version 2.1.8 */
  {
  opacity: 0;
  transform: translateX(30px);
}

.swap-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.popup-list-move {
  transition: transform 200ms;
}

.popup-list-enter-active,
.popup-list-leave-active {
  transition: all 500ms;
}

.popup-list-enter,
.popup-list-leave-to

/* .list-leave-active below version 2.1.8 */
  {
  opacity: 0;
  transform: scale(0.7);
}

.fade-enter-active,
.fade-leave-active {
  transition: transform 250ms, opacity 250ms;
}

.fade-enter,
.fade-leave-to

/* .list-leave-active below version 2.1.8 */
  {
  opacity: 0;
}

.popup-bounce-enter-active,
.popup-bounce-leave-active {
  transition: all 350ms cubic-bezier(0.31, 1.5, 0.44, 0.99);
}

.popup-bounce-enter,
.popup-bounce-leave-to

/* .list-leave-active below version 2.1.8 */
  {
  opacity: 0;
  transform: scale(0.5);
}
